/**

    SUMMARY:

    1. Variable Declarations.
    2. General Styles.
    3. Gradients.
    4. Animations.

**/

/** 1. Variable Declarations **/

/* Fonts */

@font-face {
  font-family: "Avengero Regular";
  src: url("../../fonts/AvengeroRegular.ttf");
}

@font-face {
  font-family: "Marvel Regular";
  src: url("../../fonts/MarvelRegular.ttf");
}

:root {
  /*  Color pallete */

  --p1: #e23636;
  --p2: #000000;
  --s1: #504a4a;
  --s2: #518cca;
  --s3: #f78f3f;

  /* Colors */

  --text-dark: #000;
  --text-gray: #9b9b9b;
  --text-light: #fff;
  --main-accent: #518cca;
  --main-accent-dark: #504a4a;
  --reverse-accent: #f78f3f;
  --light-accent: #9b9b9b;

  /** Backgrounds **/

  --background-light: #fff;
  --background-less-light: #f4f4f4;
  --background-dark: #222;
  --background-less-dark: #1b1a1a;

  /* Sizes */

  --main-navbar-size: 120px;
  --main-navbar-collapsed-size: 90px;
  --main-header-size: 90vh;
  --service-section-inset: 140px;
  --team-card-inset: 58px;

  /* Borders */

  --border-light: rgba(255, 255, 255, 0.15);
  --border-dark: rgba(0, 0, 0, 0.05);
  --border-darker: #262525;

  /** Shadows **/

  --shadow-1: 0 5px 60px 0 rgba(40, 40, 40, 0.1);

  /* Misc. */

  --link-transition-time: 0.35s;
}

/** 2. General Styles **/

body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(226, 54, 54, 0.8),
    rgba(2, 0, 36, 1)
  );
  color: var(--text-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avengero Regular";
}

a,
p,
span {
  font-family: "Marvel Regular", fallback, sans-serif;
}

.container-relative {
  position: relative;
}

/* Cursor style */

.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid rgba(81, 140, 202, 0.8);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--p1);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.ring.hovered {
  width: 50px;
  height: 50px;
  border-width: 3px;
  border-color: lightgray;
}

.dot.hovered {
  display: none;
}

/* buttons animated */

.button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0.5em 1em;
  box-shadow: inset 0 0 0 2px var(--p1);
  color: white;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: var(--s2);

    &::before,
    &::after {
      width: 100%;
      height: 100%;
    }

    &::before {
      border-top-color: var(--s2);
      border-right-color: var(--s2);
      transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &::after {
      border-bottom-color: var(--s2);
      border-left-color: var(--s2);
      transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
    }
  }
}

.meet {
  &:hover {
    color: var(--s3);
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:hover {
    &::before {
      border-top-color: var(--s3);
      border-right-color: var(--s3);
    }

    &::after {
      border-bottom-color: var(--s3);
      border-left-color: var(--s3);
      transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
    }
  }
}

.center {
  &:hover {
    color: var(--s1);
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
  }

  &::before {
    border-top: 2px solid var(--s1);
    border-bottom: 2px solid var(--s1);
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 2px solid var(--s1);
    border-right: 2px solid var(--s1);
    transform: scale3d(1, 0, 1);
  }

  &:hover {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
      transition: transform 0.5s;
    }
  }
}

.spin {
  width: 2em;
  height: 2em;
  padding: 0;

  &:hover {
    color: var(--s2);
  }

  &::before,
  &::after {
    top: 0;
    left: 0;
  }

  &::before {
    border: 2px solid transparent;
  }

  &:hover::before {
    border-top-color: var(--s2);
    border-right-color: var(--s2);
    border-bottom-color: var(--s2);
    transition: border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.1s,
      border-bottom-color 0.15s linear 0.2s;
  }

  &::after {
    border: 0 solid transparent;
  }

  &:hover::after {
    border-top: 2px solid var(--s2);
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }
}

.circle {
  border-radius: 100%;
  box-shadow: none;

  &::before,
  &::after {
    border-radius: 100%;
  }
}
