button.btn {
  background: var(--s2);
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch button.btn {
  &:hover {
    background: var(--s2);
    box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-2px);
    transition: all 0.25s 0s ease-out;
  }

  &:active {
    background: var(--s2);
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
    transform: translate3d(0, 1px, 0);
    transition: all 0.025s 0s ease-out;
  }
}

button.btn:active {
  background: var(--s2);
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div {
  &.marvel-cards {
    margin: 40px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &.marvel-card {
    display: inline-block;
    margin-bottom: 80px;
    width: 300px;
    height: 250px;
    perspective: 1000;
    position: relative;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
    border: 0 !important;
    border-radius: 0 !important;
    color: var(--background-dark);

    img {
      width: 300px;
      height: 250px;
    }

    .marvel-card__image-holder {
      background: rgba(0, 0, 0, 0.1);
      height: 0;
      padding-bottom: 75%;
    }

    div {
      &.marvel-card-title {
        padding: 20px 15px 20px;
        z-index: 0;
        position: relative;
        background: white;

        button.toggle-info {
          border-radius: 32px;
          height: 32px;
          padding: 0;
          position: absolute;
          right: 15px;
          top: 10px;
          width: 32px;

          span {
            background: #ffffff;
            display: block;
            height: 2px;
            position: absolute;
            top: 16px;
            transition: all 0.15s 0s ease-out;
            width: 12px;

            &.left {
              right: 14px;
              transform: rotate(45deg);
            }

            &.right {
              left: 14px;
              transform: rotate(-45deg);
            }
          }
        }

        h2 {
          font-size: 14px;
          font-weight: 700;
          width: 65%;
          letter-spacing: -0.05em;
          margin: 0;
          padding: 0;

          small {
            display: block;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: -0.025em;
          }
        }
      }

      &.marvel-card-description {
        padding: 0 15px 10px;
        position: relative;
        font-size: 14px;
      }

      &.marvel-card-actions {
        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
        padding: 10px 15px 20px;
        text-align: center;
      }

      &.marvel-card-flap {
        background: #d9d9d9;
        position: absolute;
        width: 100%;
        transform-origin: top;
        transform: rotateX(-90deg);
      }

      &.flap1 {
        transition: all 0.3s 0.3s ease-out;
        z-index: -1;
      }

      &.flap2 {
        transition: all 0.3s 0s ease-out;
        z-index: -2;
      }
    }
  }

  &.marvel-cards.showing div.marvel-card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch div.marvel-cards.showing div.marvel-card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.marvel-card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
  z-index: 200;

  div {
    &.marvel-card-title button.toggle-info {
      background: var(--p1) !important;

      span {
        top: 15px;

        &.left {
          right: 10px;
        }

        &.right {
          left: 10px;
        }
      }
    }

    &.marvel-card-flap {
      background: #ffffff;
      transform: rotateX(0deg);
    }

    &.flap1 {
      transition: all 0.3s 0s ease-out;
      z-index: 10;
    }

    &.flap2 {
      transition: all 0.3s 0.2s ease-out;
    }
  }
}
