#pagination-container {
    border: var(--p1) solid 2px;
    border-radius: 40px;
    margin-top: 300px !important;
  
    button p {
      padding-top: 2px !important;
    }
  
    h4 {
      margin-bottom: 40px;
    }
  
    .dropdown {
      padding: 8px 16px;
  
      > button {
        background-color: var(--p2);
        color: var(--text-light);
      }
  
      button {
        color: var(--text-light);
        width: 100%;
        margin: 0;
        padding: 8px 16px;
      }
    }
  
    .dropdown-item:hover {
      background-color: var(--p2);
    }
  
    .button {
      color: var(--text-light);
      box-shadow: none;
      background-color: var(--p2);
    }
  
    .dropdown-menu {
      background-color: var(--p2);
    }
  
    .container {
      margin-top: 60px;
    }
  }
  
  /* Search */
  
  #content {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-0%, 0%);
  
    &.on {
      -webkit-animation-name: in-out;
      animation-name: in-out;
      -webkit-animation-duration: 0.7s;
      animation-duration: 0.7s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }
  
  input {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }
  
  .search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-top: 26px;
      margin-left: 17px;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  }
  
  .close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  
    &:before {
      content: "";
      position: absolute;
      width: 27px;
      height: 4px;
      margin-top: -1px;
      margin-left: -13px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
  
    &:after {
      content: "";
      position: absolute;
      width: 27px;
      height: 4px;
      background-color: #fff;
      margin-top: -1px;
      margin-left: -13px;
      cursor: pointer;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  
  .square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #ffffff;
    border-radius: 0;
    background: none;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
  }