#cover {
  height: 80vh;
  width: 100%;
  background-image: url("../../../assets/img/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  margin: 0px;
  padding: 0px;

  h1 {
    width: 45%;
    margin-left: 40px;
    font-size: 30px;
    font-size: 40px;

    > span {
      font-family: "Avengero Regular";
      color: var(--s3);
    }
  }

  .container {
    height: 200px;
    width: 60%;
    position: absolute;
    top: 90%;
    left: 20%;
  }

  .row {
    height: 100%;
  }

  .col {
    background: var(--s3);
  }

  div.marvel-cards {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0;
  }
}

@media only screen and (max-width: 991px) {
  #cover h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  #cover h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  #cover h1 {
    font-size: 24px;
  }
}

#desktop-nav {
  background: transparent;
  margin: 20px 60px;
  z-index: 10;

  img {
    height: 60px;
  }

  > div {
    margin: 20px 60px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;

    li {
      margin: 0px 10px;
    }
  }

  .nav-menu_container {
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    transform: perspective(1000px);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    &:hover {
      color: var(--s3);
    }
  }

  .nav-menu {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    opacity: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: -99999;

    a {
      color: var(--text-light);
      display: inline-block;
      width: 100%;
      padding: 5px 10px;
      border-bottom: var(--p1);
      text-decoration: none;
      -webkit-transition: all 1s;
      transition: all 1s;

      &:hover {
        color: var(--s3);
      }
    }
  }

  .nav-menu_container:hover .nav-menu {
    background: var(--p1);
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all 0.5s, background, 2s 0.5s linear;
    transition: all 0.5s, background 2s 0.5s linear;
  }
}

/*   */

#mobile-nav {
  background: transparent;
  z-index: 10;
  margin-bottom: 40px;

  img {
    height: 40px;
  }
}

.logo,
.content {
  color: #fafafa;
}

.nav {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  margin: 4%;
}

#hamburger {
  margin: 4%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
  height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
  display: flex;
  align-items: center;

  &:hover {
    opacity: 1;
  }

  div {
    background-color: #fafafa;
    border-radius: 10px;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;

    &:after {
      background-color: #fafafa;
      border-radius: 10px;
      width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
      height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
      transition: all 0.15s linear;
    }

    &:before {
      background-color: #fafafa;
      border-radius: 10px;
      width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
      height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
      transition: all 0.15s linear;
      content: "";
      position: absolute;
    }

    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      transform: translateY(-200%);
    }

    &:after {
      transform: translateY(200%);
    }
  }

  &.open div {
    background: transparent;

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

#overlay {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: #1a1a1a;
  z-index: 2;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.menu {
    transform: translateY(0%);
  }

  a {
    text-decoration: none;
    color: #fafafa;
    font-size: clamp(1rem, 4.1vw + 0.2rem, 10rem);
    margin: 2%;
    opacity: 0.5;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }
  }
}

#desktop-nav {
}

#mobile-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: block;
  }
}
